<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
<title>Treasure Hunters - a new  free template</title>
<link rel="stylesheet" type="text/css" href="style.css" />
<script type="text/javascript" src="unitpngfix.js"></script>
</head>
<body>

<div id="main_container">
	<div class="top_leafs"><img src="images/top_leafs.png" alt="" title=" "/></div>
	<div id="header">
    	<div class="logo">
       <a href="index.html">treasure hunters</a>
        </div>

        <div class="menu">
        	<ul>                            
        		<li class="selected"><a href="#">home</a></li>
                <li><a href="#">about us</a></li>
                <li><a href="#">treasure maps</a></li>
                <li><a href="#">photos</a></li>
                <li><a href="#">contact us</a></li>
        	</ul>
        </div>
        
    </div>
    
    
    <div id="center_content">
    		<div class="left_content">
            
                    <h1>Welcome to our website</h1>
                    <p>
                    <img src="images/icon1.gif" alt="" title="" class="left_icon" />
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    </p>
        
        
                    <h1>Treasure maps</h1>
                    <p>
                    <img src="images/icon2.gif" alt="" title="" class="right_icon" />
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    </p>
                    
                    <h1>Photos</h1>
                    <div class="photos_block">
                    
                    	<div class="photo_box">
                        	<a href="#"><img src="images/photo2.jpg" alt="" title="" class="photo" border="0" /></a><br />
                            <a href="#" class="view">view</a>
                        </div>
                    	<div class="photo_box">
                        	<a href="#"><img src="images/photo1.jpg" alt="" title="" class="photo" border="0" /></a><br />
                            <a href="#" class="view">view</a>
                        </div>                    
                    	<div class="photo_box">
                        	<a href="#"><img src="images/photo3.jpg" alt="" title="" class="photo" border="0" /></a><br />
                            <a href="#" class="view">view</a>
                        </div>                    
                    </div>
            
            
            </div>
            
            
            <div class="right_content">
            
                     <h1>Expedition tips</h1>
                    
                    <div class="tip_box"> 
                    <h2>Eiusmod tempor incididunt.</h2> 
                    <p class="tips">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <a href="#" class="read_more">read more</a>
                    
                    </div>
 
 
                    <div class="tip_box"> 
                    <h2>Eiusmod tempor incididunt.</h2> 
                    <p class="tips">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <a href="#" class="read_more">read more</a>
                    
                    </div>
                    
                    
                     <h1>Blog News</h1>
                    
                    <div class="news_box"> 
                    	<div class="date_box">
                        	<span class="day">24</span><br />
                            <span class="month">febr</span>
                        </div>
                        <div class="news_content">
                        <h2>Eiusmod tempor incididunt.</h2> 
                        <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                        </p>
                        </div>
                    
                    </div>       
                    
                     <div class="news_box"> 
                    	<div class="date_box">
                        	<span class="day">08</span><br />
                            <span class="month">may</span>
                        </div>
                        <div class="news_content">
                        <h2>Eiusmod tempor incididunt.</h2> 
                        <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                        </p>
                        </div>
                    
                    </div>                     
                
            
            </div>
            
            
            <div class="bottom_content">
            	
                <div class="about_text">
                      <h1>About us</h1>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    </p>              
                
                </div>
                
                <div class="friends_list">
                <h1>Some friends</h1>
                    <ul class="list">
                    <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                    </ul>
                </div>
                
                <div class="bottom_right">
                	<a href="#"><img src="images/join_club.gif" alt="" title="" border="0" /></a>
                    <a href="http://www.zcool.com.cn" target="_blank">zcool.com.cn</a>
                </div>
                
                <div class="footer">
                
                &copy; Websitename 2009. All Rights Reserved
                </div>
            
            
            </div>
    
    
    
    </div>
    
    

    
</div>
<!-- end of main_container -->

</body>
</html>