#main {
    border-top: 1px solid #AAAAAA;
    width: 689px;
	margin:0 auto;
}



.interactive-form {
	clear: left;
}
.interactive-form form {
	clear: left;
	margin-bottom: 50px;
	font-family: helvetica, arial, sans-serif;
}
.interactive-form form .fieldset-wrapper {
	background-color: rgb(250, 250, 250);
	border: 1px solid rgb(224, 224, 224);
}
.interactive-form form fieldset legend {
	display: none;
}
.interactive-form h4,
.interactive-form label.subhead {
	display: block;
	margin-top: 0px;
	margin-bottom: 12px;
	font-size: 14px;
	font-weight: bold;
	color: rgb(90, 90, 90);
	text-shadow: 0px 1px 0px rgb(255, 255, 255);
}

/* Form elements */
.interactive-form .radio,
.interactive-form .checkbox {
	display: block;
	font-size: 16px;
	color: rgb(90, 90, 90);
	font-weight: normal;
	background-color: rgb(245, 245, 245);
	border-radius: 40px;
	text-align: right;
	float: left;
	width: auto;
	text-shadow: 0px 1px 0px rgb(255, 255, 255);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f1f1f1'); /* for I*/
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f1f1f1)); /* for webkit browsers*/
	background: -moz-linear-gradient(top, #f9f9f9, #f1f1f1); /* for firefox 3.6+ */
	border: 2px solid rgb(255, 255, 255);
	-moz-box-shadow: 0px 1px 3px rgb(229, 229, 229);
	-webkit-box-shadow: 0px 1px 3px rgb(229, 229, 229);
	box-shadow: 0px 1px 3px rgb(229, 229, 229);
}
.interactive-form .checkbox {
	font-size: 16px;
	border-radius: 7px;
}
.interactive-form .checkbox.large {
	float: none;
}

.interactive-form .squares .radio {
	border-radius: 7px;
	width: 107px;
	height: 107px;
	text-align: center;
}
.interactive-form .squares .radio .fb_holderWrap {
	float: none;
	width: 70px;
	height: 70px;
	margin-top: 8px;
	margin-left: 20px;
}
.interactive-form .squares .radio .fb_holder {
	background-image: url('../images/order-form/os-and-support.png');
	background-repeat: no-repeat;
	width: 140px;
	height: 280px;
}


.interactive-form .radio .content {
	display: block;
	margin-left: 40px;
	padding: 13px 16px 11px 0px;
}
.interactive-form .checkbox .content {
	display: block;
	margin-left: 52px;
	padding: 12px 16px 10px 0px;
}
.interactive-form .checkbox.large .content {
	padding-top: 18px;
	padding-bottom: 16px;
}
.interactive-form .checkbox .content .title {
	display: block;
	margin-bottom: 2px;
}
.interactive-form .radio .content .note,
.interactive-form .checkbox .content .note {
	font-size: 11px;
	color: rgb(166, 166, 166);
}

/* Radio buttons for OS */
.interactive-form #operating-systems .debian .fb_holder {
	top: 0px !important;
}
.interactive-form #operating-systems .cent-os .fb_holder {
	top: -70px !important;
}
.interactive-form #operating-systems .red-hat .fb_holder {
	top: -140px !important;
}
.interactive-form #operating-systems .windows .fb_holder {
	top: -210px !important;
}
.interactive-form #operating-systems .radio .content {
	margin: 0px;
	padding: 6px 0px 0px;
	text-align: center;
}
.interactive-form #operating-systems .radio .content .title {
	display: none;
}

/* Radio buttons for support packs */
.interactive-form #support-packs .radio .fb_holder {
	left: -70px;
	top: 0px !important;
}
.interactive-form #support-packs .secure .fb_holder {
	top: -70px !important;
}
.interactive-form #support-packs .complete .fb_holder {
	top: -140px !important;
}
.interactive-form #support-packs .radio .content {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#main .interactive-form .headings {
	margin: 0px 0px 0px 140px;
	margin-left: 118px;
}
#main .interactive-form .headings li {
	float: left;
	font-weight: bold;
	font-size: 14px;
	background-image: none;
	padding-left: 0px;
	width: 75px;
	padding-top: 17px;
	margin-top: 0px;
	text-shadow: 0px 1px 0px rgb(255, 255, 255);
}
#main .interactive-form .headings li.allowance {
	width: 85px;
	padding-top: 0px;
}
.interactive-form .straight .content {
	padding-bottom: 4px;
}
.interactive-form .straight .content .title {
	width: 75px;
	display: block;
	float: left;
}
.interactive-form .straight .content .ram,
.interactive-form .straight .content .storage {
	width: 75px;
}
.interactive-form .straight .content .allowance {
	width: 85px;
}
.interactive-form .straight .content .stat {
	display: block;
	float: left;
	font-size: 14px;
	color: rgb(166, 166, 166);
}
.interactive-form .straight input {
	float: left;
	margin: 14px 0px 9px 14px;
}

.interactive-form .radio span.fb_holderWrap {
	margin-top: 5px;
	margin-left: 5px;
}
.interactive-form .checkbox span.fb_holderWrap {
	margin-top: 0px;
	margin-right: 16px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	background-color: rgb(255, 255, 255);
	width: 52px;
	height: 52px;
	background-image: url('../images/order-form/checkbox-tick.gif');
	background-repeat: no-repeat;
	background-position: 0px -100px;
}
.interactive-form .checkbox:hover span.fb_holderWrap {
	background-color: rgb(201, 223, 246);
}
.interactive-form .checkbox:active span.fb_holderWrap {
	background-color: rgb(130, 186, 243);
}
.interactive-form .checkbox span.fb_holder {
	background-image: none;
}

.interactive-form .radio:hover,
.interactive-form .checkbox:hover {
	background-color: rgb(250, 250, 250);
	border: 2px solid rgb(201, 223, 246);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f8f8f8'); /* for IE*/
	background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f8f8f8)); /* for webkit browsers*/
	background: -moz-linear-gradient(top,  #fcfcfc,  #f8f8f8); /* for firefox 3.6*/
	cursor: pointer;
	cursor: hand;
}
.interactive-form .radio:active,
.interactive-form .checkbox:active {
	background-color: rgb(237, 237, 237);
	-moz-box-shadow: inset 0px 1px 3px rgb(191, 191, 191);
	-webkit-box-shadow: inset 0px 1px 3px rgb(191, 191, 191);
	box-shadow: inset 0px 1px 3px rgb(191, 191, 191);
	border: 2px solid rgb(130, 186, 243);
	cursor: pointer;
	cursor: hand;
}
.interactive-form .radio.fb_checked,
.interactive-form .checkbox.fb_checked {
	background: rgb(255, 255, 255);
	border: 2px solid rgb(55, 110, 229);
}
.interactive-form .checkbox.fb_checked span.fb_holderWrap {
	background-color: rgb(55, 110, 229);
	background-position: 6px 10px;
}
.interactive-form .checkbox.disabled,
.interactive-form .radio.disabled {
	background: rgb(248, 248, 248) !important;
	border-color: rgb(255, 255, 255);
	cursor: default;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.interactive-form .checkbox.disabled span.fb_holderWrap {
	background-color: rgb(255, 255, 255);
}
.interactive-form .radio.disabled span.fb_holder {
	opacity: 0.4;
	filter: alpha(opacity=30);
}
.interactive-form .checkbox.disabled .content .title,
.interactive-form .checkbox.disabled .content .note,
.interactive-form .radio.disabled .content .title,
.interactive-form .radio.disabled .content .note {
	color: rgb(217, 217, 217);
}


.interactive-form input.text,
.interactive-form textarea {
	width: 470px;
	margin: 0px;
	padding: 8px;
	font-size: 16px;
	border: 1px solid rgb(170, 207, 228);
	font-family: helvetica, arial, verdana, sans-serif;
	color: rgb(90, 90, 90);
	-moz-box-shadow: inset 0px 1px 3px rgb(204, 204, 204);
	-webkit-box-shadow: inset 0px 1px 3px rgb(204, 204, 204);
	box-shadow: inset 0px 1px 3px rgb(204, 204, 204);
	border: 2px solid rgb(255, 255, 255);
	border-radius: 7px;
}
.interactive-form input.text:hover,
.interactive-form textarea:hover {
	border: 2px solid rgb(201, 223, 246);
}
.interactive-form input.text:focus,
.interactive-form textarea:focus {
	border: 2px solid rgb(6, 117, 231);
	box-shadow: none;
	outline: none !important;
}
.interactive-form textarea {
	height: 160px;
}
.interactive-form input.text.large {
	font-size: 30px;
}
.interactive-form select {
	font-size: 16px;
}

.interactive-form input.text.error,
.interactive-form textarea.error {
	border: 2px solid rgb(222, 0, 25);
}
.interactive-form select.error {
	border: 1px solid rgb(222, 0, 25);
}
.interactive-form .field-input.error-field input.text {
	border: 2px solid rgb(222, 0, 25);
}

.interactive-form .error-message,
.noscript {
	background-color: rgb(222, 0, 25);
	color: rgb(255, 255, 255);
	background-image: url('../images/order-form/alert-error.png');
	background-repeat: no-repeat;
	background-position: 7px 7px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
}
.noscript {
	clear: both;
	margin-bottom: 30px;
}
.interactive-form .error-message p,
.noscript p {
	margin: 0px;
	padding: 6px 8px 6px 30px;
}
.interactive-form .error-message p code,
.noscript p a {
	color: rgb(255, 255, 255);
	padding: 1px 4px;
	font-size: 12px;
	background-color: rgb(160, 0, 0);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
}
.interactive-form .field-input .error-message {
	margin-top: -5px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-topleft: 0px;
	-khtml-border-top-right-radius: 0px;
	-khtml-border-top-left-radius: 0px;
	background-position: 7px 9px;
}
.interactive-form .field-input .error-message p {
	padding: 8px 8px 6px 30px;
}

#main .interactive-form ul.radios,
#main .interactive-form ul.checkboxes {
	margin: 0px 0px 8px;
	padding: 0px;
}
#main .interactive-form ul.radios li,
#main .interactive-form ul.checkboxes li {
	margin: 0px 15px 12px 0px;
	list-style: none;
	padding-left: 0px;
	background-image: none;
}
#main .interactive-form ul.radios li.last,
#main .interactive-form ul.checkboxes li.last {
	margin-right: 0px;
}

#main .interactive-form #support-packs ul,
#main .interactive-form #support-packs ul li,
#main .interactive-form #operating-systems ul,
#main .interactive-form #operating-systems ul li {
	margin-bottom: 0px;
}

#main .interactive-form #service-upgrades .field-contents {
	padding-top: 0px;
}
#main .interactive-form #service-upgrades .field-contents.first {
	padding-bottom: 0px;
}
#main .interactive-form #service-upgrades ul,
#main .interactive-form #service-upgrades ul li {
	margin-bottom: 0px;
}

#main .interactive-form ul.radios li {
	float: left;
}
#main .interactive-form ul.radios li label {
	float: none;
}
#main .interactive-form ul.two-column li {
	width: 235px;
	float: left;
	list-style: none;
}
#main .interactive-form ul.two-column li.last {
	margin-right: 0px;
}
#main .interactive-form ul.two-column li label {
	float: none;
}

#main .interactive-form ul.straight li {
	float: none;
}
#main .interactive-form ul.straight li label {
	
}
#main .interactive-form .add-another ul {
	margin: 0px;
}
#main .interactive-form .add-another ul li {
	background-image: none;
	margin: 10px 0px 0px;
	padding: 0px;
}

.interactive-form .add-another a {
	display: block;
	float: right;
	margin-top: 5px;
	font-size: 15px;
	background-image: url('../images/order-form/add-another.gif');
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding-left: 22px;
	line-height: 24px;
}


.interactive-form .progress {
	position: relative;
	height: 60px;
	background-image: url('../images/order-form/progress-thermometer.gif');
	background-repeat: repeat-x;
	background-position: 0px 0px;
	margin-bottom: 20px;
}
.interactive-form .progress .thermometer,
.interactive-form .progress ol {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 690px;
}
.interactive-form .progress .thermometer {
	top: 13px;
	z-index: 90;
	width: 680px;
	padding: 0px 5px;
}
.interactive-form .progress .thermometer .mercury {
	width: 1px;
	height: 5px;
	background-image: url('../images/order-form/progress-mercury.gif');
	background-repeat: repeat-x;
	background-position: 0px 50%;
	z-index: 90;
}

.interactive-form .progress ol {
	list-style: none;
	margin: 0px;
	padding: 0px;
	z-index: 100;
}
.interactive-form .progress ol li {
	width: 163px;
	float: left;
	margin: 0px;
}
.interactive-form .progress ol li.first {
	width: 101px;
}
.interactive-form .progress ol li.last {
	width: 100px;
}
.interactive-form .progress ol li a {
	display: block;
	position: relative;
	font-size: 14px;
	font-weight: bold;
	padding: 40px 0px 0px;
	text-align: center;
	cursor: default;
}
.interactive-form .progress ol li a {
	opacity: 1;
	filter: Alpha(Opacity=100);
}
.interactive-form .progress ol li.first a {
	text-align: left;
}
.interactive-form .progress ol li.last a {
	text-align: right;
}

.interactive-form .progress ol li a span.text {
	font-weight: bold;
	color: rgb(204, 204, 204);
}
.interactive-form .progress ol li.complete a span.text {
	color: rgb(80, 153, 31);
}
.interactive-form .progress ol li.current a span.text {
	color: rgb(0, 0, 0);
}

.interactive-form .progress ol li a span.status {
	display: block;
	position: absolute;
	top: 2px;
	left: 66px;
	width: 27px;
	height: 27px;
	background-image: url('../images/order-form/progress-sprites.png');
	background-repeat: no-repeat;
	background-position: 0px -27px;
	z-index: 100;
}
.interactive-form .progress ol li.first.complete a span.status {
	background-position: 0px 0px;
}
.interactive-form .progress ol li.last.complete a span.status {
	background-position: 0px -54px;
}
.interactive-form .progress ol li.current a span.status {
	background-position: -27px -54px;
}
.interactive-form .progress ol li.first.current a span.status {
	background-position: -27px 0px;
}
.interactive-form .progress ol li.last.current a span.status {
	background-position: -27px -54px;
}

.interactive-form .progress ol li.first a span.status {
	left: 2px;
}
.interactive-form .progress ol li.last a span.status {
	left: auto;
	right: 3px;
}
.interactive-form .progress ol li a.extras span.status {
	left: 67px;
}
.interactive-form .progress ol li a.contract span.status {
	left: 69px;
}

.interactive-form #overview-footer {
	margin-top: -1px;
	border-bottom: 1px solid rgb(224, 224, 224);
}


.interactive-form .overview .notice {
	margin-top: -1px;
	border: 1px solid rgb(177, 203, 223);
	border-bottom-width: 0px;
	background: rgb(233, 245, 254); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(233, 245, 254) 0%, rgb(210, 230, 244) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(233, 245, 254)), color-stop(100%, rgb(210, 230, 244))); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, rgb(233, 245, 254) 0%, rgb(210, 230, 244) 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(top, rgb(233, 245, 254) 0%, rgb(210, 230, 244) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(233, 245, 254) 0%, rgb(210, 230, 244) 100%); /* IE10+ */
	background: linear-gradient(top, rgb(233, 245, 254) 0%, rgb(210, 230, 244) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f5fe', endColorstr='#d2e6f4', GradientType=0 ); /* IE6-9 */
}
.interactive-form .overview .notice p {
	margin: 0px;
	padding: 5px 10px 5px 30px;
	font-size: 14px;
	border-top: 1px solid rgb(255, 255, 255);
	background-image: url('../images/order-form/alert-notice.png');
	background-repeat: no-repeat;
	background-position: 8px 6px;
	color: rgb(6, 117, 231);
}

.interactive-form .overview .pricing {
	width: 132px;
	float: left;
	border: 1px solid rgb(177, 203, 223);
	border-width: 1px 0px 0px 1px;
	text-shadow: 0px 1px 0px rgb(255, 255, 255);
}
.interactive-form .overview .pricing.total {
	width: 156px;
	border: 1px solid rgb(181, 206, 158);
	border-bottom-width: 0px;
}

.interactive-form .overview .pricing.first {
	width: 131px;
	-khtml-border-top-left-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
}
.interactive-form .overview .pricing.last {
	-khtml-border-top-right-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
}
.interactive-form .overview .pricing.long {
	width: 530px;
}
.interactive-form .overview .pricing.long .wrapper h4,
.interactive-form .overview .pricing.long .wrapper h5 {
	text-align: left;
	margin: 7px 24px;
}
.interactive-form .overview .pricing.long .wrapper h5 {
	font-size: 14px;
}
.interactive-form .overview .pricing.long .wrapper .logic {
	top: 8px;
}

.interactive-form .overview .pricing .wrapper {
	position: relative;
	background: rgb(234, 245, 254); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(234, 245, 254) 0%, rgb(210, 230, 244) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(234, 245, 254)), color-stop(100%, rgb(210, 230, 244))); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, rgb(234, 245, 254) 0%, rgb(210, 230, 244) 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(top, rgb(234, 245, 254) 0%, rgb(210, 230, 244) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(234, 245, 254) 0%, rgb(210, 230, 244) 100%); /* IE10+ */
	background: linear-gradient(top, rgb(234, 245, 254) 0%, rgb(210, 230, 244) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaf5fe', endColorstr='#d2e6f4', GradientType=0 ); /* IE6-9 */
}
.interactive-form .overview .pricing.total .wrapper {
	background: rgb(242, 254, 232); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(242, 254, 232) 0%, rgb(227, 247, 209) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(242, 254, 232)), color-stop(100%, rgb(227, 247, 209))); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, rgb(242, 254, 232) 0%, rgb(227, 247, 209) 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(top, rgb(242, 254, 232) 0%, rgb(227, 247, 209) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(242, 254, 232) 0%, rgb(227, 247, 209) 100%); /* IE10+ */
	background: linear-gradient(top, rgb(242, 254, 232) 0%, rgb(227, 247, 209) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2fee8', endColorstr='#e3f7d1', GradientType=0 ); /* IE6-9 */
}
.interactive-form .overview .pricing.last .wrapper {
	-khtml-border-top-right-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
}
.interactive-form .overview .pricing.first .wrapper {
	-khtml-border-top-left-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;
}
.interactive-form .overview .pricing .wrapper {
	border-top: 1px solid rgb(255, 255, 255);
}
.interactive-form .overview .pricing .wrapper h4,
.interactive-form .overview .pricing .wrapper h5,
.interactive-form .overview .pricing .wrapper p {
	text-align: center;
}
.interactive-form .overview .pricing .wrapper h4,
.interactive-form .overview .pricing .wrapper h5 {
	margin-top: 12px;
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 13px;
	color: rgb(100, 118, 130);
}
.interactive-form .overview .pricing .wrapper h4 {
	font-size: 30px;
}
.interactive-form .overview .pricing.total .wrapper h5 {
	color: rgb(115, 130, 100);
}



.interactive-form .overview .pricing .wrapper .price {
	margin-bottom: 2px;
	font-size: 35px;
	color: rgb(6, 117, 231);
}
.interactive-form .overview .pricing.total .wrapper .price {
	color: rgb(93, 179, 36);
}
.interactive-form #overview-footer .pricing.total .wrapper .price {
	margin: 11px 0px 12px;
}

.interactive-form .overview .pricing .wrapper .price .amount {
	position: relative;
	line-height: 30px;
	padding-left: 14px;
	padding-right: 14px;
	background-image: url('../images/order-form/dollar-symbol-blue.png');
	background-repeat: no-repeat;
	background-position: 0px 7px;
}
.interactive-form .overview .pricing.total .wrapper .price .amount {
	background-image: url('../images/order-form/dollar-symbol-green.png');
}
.interactive-form .overview .pricing .wrapper .price .currency {
	display: none;
}
.interactive-form .overview .pricing .wrapper .price .amount .dollars {
	line-height: 30px;
}
.interactive-form .overview .pricing .wrapper .price .amount .cents {
	position: absolute;
	top: 4px;
	right: -4px;
	font-size: 12px;
}
.interactive-form .overview .pricing .wrapper .per {
	margin-bottom: 11px;
	font-size: 12px;
	color: rgb(100, 118, 130);
}
.interactive-form .overview .pricing.total .wrapper .per {
	color: rgb(115, 130, 100);
}
.interactive-form .overview .pricing .wrapper .logic {
	display: block;
	position: absolute;
	top: 28px;
	left: -16px;
	width: 33px;
	height: 33px;
	overflow: hidden;
	background-image: url('../images/order-form/price-logic.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.interactive-form .overview .pricing .wrapper .logic.equals {
	background-position: 0px -33px;
}
.interactive-form #overview-footer .pricing .wrapper .logic {
	top: 10px;
}


.interactive-form .overview .next-month {
	clear: left;
}
.interactive-form .overview .next-month .pricing.total {
	width: 156px;
}

.interactive-form .overview .next-month .pricing h5 {
	line-height: 21px;
}
.interactive-form .overview .next-month .pricing.total h5 {
	font-size: 15px;
	margin: 7px 0px;
	text-align: center;
	color: rgb(93, 179, 36);
}
.interactive-form .overview .next-month .pricing.total h5 .amount {
	font-weight: bold;
}



.interactive-form form .field {
	border-bottom: 1px solid rgb(224, 224, 224);
}
.interactive-form form .field.last {
	border-bottom-width: 0px;
}
.interactive-form form .product {
	float: left;
	width: 530px;
	min-height: 40px;
	border-right: 1px solid rgb(224, 224, 224);
}
.interactive-form form .summary {
	margin-left: 530px;
}
.interactive-form form .summary .costing p {
	margin: 0px;
	text-align: center;
}
.interactive-form form .summary .costing p.price {
	font-size: 35px;
}
.interactive-form form .summary .costing p.price .currency {
	display: none;
}
.interactive-form form .summary .costing p.price .amount {
	position: relative;
	padding-left: 14px;
	padding-right: 14px;
	background-image: url('../images/order-form/dollar-symbol.gif');
	background-repeat: no-repeat;
	background-position: 0px 5px;
}
.interactive-form form .summary .costing p.price .amount .cents {
	position: absolute;
	top: 4px;
	right: -4px;
	font-size: 12px;
}

.interactive-form form div.field-header {
	position: relative;
	padding: 10px 23px;
	text-shadow: 0px 1px 0px rgb(255, 255, 255);
	border-top: 1px solid rgb(255, 255, 255);
	border-bottom: 1px solid rgb(207, 207, 207);
	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #e5e5e5)); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* IE10+ */
	background: linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#e5e5e5', GradientType=0); /* IE6-9 */
}
.interactive-form form div.field-header h3,
.interactive-form form div.field-header label {
	margin: 0px 6px 0px 0px;
	color: rgb(38, 38, 38);
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	float: left;
}
.interactive-form form div.field-subheader {
	position: relative;
	padding: 20px 20px 5px;
}
.interactive-form form div.field-subheader h4 {
	margin: 0px 6px 0px 0px;
	font-size: 14px;
	line-height: 18px;
	float: left;
}


.interactive-form form a.tooltip-link {
	display: block;
	float: left;
	margin-right: 6px;
	text-indent: -9999px;
	background-image: url('../images/order-form/tooltip.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 17px;
	height: 18px;
}
.interactive-form form div.tooltip-content {
	z-index: 200;
	position: absolute;
	top: -40px;
	left: 0px;
	width: 210px;
	color: rgb(128, 110, 26);
	border: 1px solid rgb(179, 155, 36);
	text-shadow: none;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.interactive-form form div.tooltip-content .wrapper {
	position: relative;
	width: 208px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	padding-top: 6px;
	border: 1px solid rgb(254, 252, 236);
	background: #fff6cb; /* Old browsers */
	background: -moz-linear-gradient(top, #fff6cb 0%, #ffef9e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff6cb), color-stop(100%, #ffef9e)); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, #fff6cb 0%, #ffef9e 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(top, #fff6cb 0%, #ffef9e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fff6cb 0%, #ffef9e 100%); /* IE10+ */
	background: linear-gradient(top, #fff6cb 0%, #ffef9e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6cb', endColorstr='#ffef9e', GradientType=0); /* IE6-9 */
}
.interactive-form form div.tooltip-content .wrapper p {
	margin: 0px 9px 6px;
	font-size: 12px;
}
.interactive-form form div.tooltip-content .wrapper img {
	display: block;
	position: absolute;
	bottom: -12px;
	left: 0px;
}

.interactive-form form div.field-header p.note {
	margin: 0px;
	color: rgb(128, 128, 128);
	font-size: 14px;
	line-height: 18px;
	height: 18px;
	display: block;
}
.interactive-form form div.field-header p.note a {
	line-height: 18px;
}


.interactive-form form div.field-contents {
	padding: 20px;
}
.interactive-form form div.field-input {
	margin-bottom: 20px;
}
.interactive-form form div.field-input.last {
	margin-bottom: 0px;
}
.interactive-form form p.field-note {
	margin-bottom: 0px;
	font-size: 12px;
	color: rgb(90, 90, 90);
}
.interactive-form form p.field-note code {
	background-color: rgb(220, 220, 220);
	padding: 1px 4px;
	font-size: 12px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
}
.interactive-form form p.field-note del {
	text-decoration: line-through;
}
.interactive-form form div.right-align {
	clear: left;
}
.interactive-form form div.right-align label,
.interactive-form form div.right-align h5 {
	display: block;
	float: left;
	margin: 0px 15px 0px 0px;
	padding: 14px 0px;
	color: rgb(90, 90, 90);
	font-size: 14px;
	width: 125px;
	text-align: right;
}
.interactive-form form div.right-align .radios li {
	margin: 0px;
}
.interactive-form form div.right-align .radios label {
	padding: 0px;
	float: none;
	width: auto;
}
.interactive-form form div.right-align .field-element {
	margin-left: 140px;
}

.interactive-form form div.right-align .field-element .left input.text,
.interactive-form form div.right-align .field-element .right input.text {
	width: 142px;
}
.interactive-form form div.right-align .field-element .left {
	width: 166px;
	margin-right: 17px;
	float: left;
}
.interactive-form form div.right-align .field-element .right {
	width: 166px;
	float: left;
}

.interactive-form form div.right-align input.text {
	width: 326px;
	padding: 10px;
	font-size: 16px;
}
.interactive-form form div.right-align select {
	margin: 11px 4px 6px;
}

.interactive-form form div.right-align p.field-note {
	padding-top: 5px;
}

.interactive-form form div.right-align.state {
	float: left;
	width: 210px;
}
.interactive-form form div.right-align.postcode {
	margin-left: 210px;
	clear: none;
}
.interactive-form form div.right-align.postcode input {
	width: 116px;
}


.interactive-form form div.right-align div.card-code {
	width: 120px;
	margin-right: 10px;
	float: left;
}
.interactive-form form div.right-align #card-code {
	width: 96px;
}
.interactive-form form div.right-align img.card-code {
	display: block;
	vertical-align: top;
	padding: 8px 0px;
}

.interactive-form form .payment-types .fb_holderWrap {
	margin-top: 4px;
}
.interactive-form form .payment-types .content {
	padding: 8px 16px 7px 0px;
}
.interactive-form form .payment-types .content img {
	display: block;
	vertical-align: top;
}
.interactive-form form .payment-types .content span {
	display: none;
}


.interactive-form .navigation .buttons {
	position: relative;
	height: 55px;
	border: 1px solid rgb(224, 224, 224);
	border-top-width: 0px;
	background: rgb(247, 247, 247); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(247, 247, 247) 0%, rgb(230, 230, 230) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(247, 247, 247)), color-stop(100%, rgb(230, 230, 230))); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, rgb(247, 247, 247) 0%, rgb(230, 230, 230) 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(top, rgb(247, 247, 247) 0%, rgb(230, 230, 230) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(247, 247, 247) 0%, rgb(230, 230, 230) 100%); /* IE10+ */
	background: linear-gradient(top, rgb(247, 247, 247) 0%, rgb(230, 230, 230) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e6e6e6', GradientType=0 ); /* IE6-9 */
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	-khtml-border-bottom-right-radius: 6px;
	-khtml-border-bottom-left-radius: 6px;
}
.interactive-form .navigation .buttons .button {
	display: block;
	position: absolute;
	padding: 15px 40px;
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
}
.interactive-form .navigation .buttons a:hover {
	opacity: 1;
	filter: Alpha(Opacity=100);
}
.interactive-form .navigation .buttons .button.back {
	float: left;
	top: 0px;
	left: 0px;
	padding-left: 24px;
	color: rgb(30, 30, 30);
	text-shadow: 0px 1px 0px rgb(255, 255, 255);
}
.interactive-form .navigation .buttons .button.next,
.interactive-form .navigation .buttons input.submit {
	display: block;
	top: 0px;
	right: 0px;
	width: 156px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	padding: 0px;
	color: rgb(255, 255, 255);
	border-width: 0px;
	text-shadow: 0px -1px 0px rgb(79, 145, 234);
	background: rgb(144, 237, 254); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(144, 237, 254) 0%, rgb(12, 122, 232) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(144, 237, 254)), color-stop(100%, rgb(12, 122, 232))); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, rgb(144, 237, 254) 0%, rgb(12, 122, 232) 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(top, rgb(144, 237, 254) 0%, rgb(12, 122, 232) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(144, 237, 254) 0%, rgb(12, 122, 232) 100%); /* IE10+ */
	background: linear-gradient(top, rgb(144, 237, 254) 0%, rgb(12, 122, 232) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90edfe', endColorstr='#0c7ae8', GradientType=0 ); /* IE6-9 */
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-khtml-border-bottom-right-radius: 6px;
	z-index: 10;
	cursor: hand;
	cursor: pointer;
}
.interactive-form .navigation .buttons .button.next {
	z-index: 20;
}

.interactive-form #confirmation .field.single .field-header {
	margin-bottom: -1px;
}
.interactive-form #confirmation .field-header .confirmation {
	color: rgb(6, 117, 231);
	font-size: 14px;
	margin-left: 140px;
	margin-bottom: 0px;
	text-shadow: 0px 1px 0px rgb(255, 255, 255);
}
.interactive-form #confirmation dl {
	margin: 0px;
	padding: 0px;
}
.interactive-form #confirmation dl dt,
.interactive-form #confirmation dl dd {
	display: block;
	margin: 0px 15px 6px 0px;
	text-shadow: 0px 1px 0px rgb(255, 255, 255);
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
}
.interactive-form #confirmation dl dt {
	clear: left;
	float: left;
	color: rgb(90, 90, 90);
	width: 125px;
	text-align: right;
}
.interactive-form #confirmation dl dd {
	margin-left: 140px;
	color: rgb(6, 117, 231);
}
.interactive-form #confirmation dl dt.last,
.interactive-form #confirmation dl dd.last {
	margin-bottom: 0px;
}

.interactive-form #confirmation dl .note,
.interactive-form #confirmation dl .price span {
	color: rgb(150, 150, 150);
}
.interactive-form #confirmation dl .price {
	color: rgb(93, 179, 36);
}

.interactive-form #confirmation ul {
	margin: 0px 0px 0px 140px;
	padding: 0px;
}
.interactive-form #confirmation ul li {
	background-image: none;
	margin: 0px 0px 6px;
	padding: 0px;
	color: rgb(6, 117, 231);
	text-shadow: 0px 1px 0px rgb(255, 255, 255);
}
.interactive-form #confirmation ul li.last {
	margin-bottom: 0px;
}

.interactive-form #confirmation .field-contents p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 0px;
	margin-left: 140px;
	color: rgb(6, 117, 231);
	text-shadow: 0px 1px 0px rgb(255, 255, 255);
}

.interactive-form label.hovertip {
	position: relative;
}
.interactive-form label.hovertip p {
	display: none;
	position: absolute;
	top: 1px;
	left: -120px;
	width: 120px;
	font-size: 12px;
	z-index: 200;
	color: rgb(128, 110, 26);
	border: 1px solid rgb(179, 155, 36);
	text-shadow: none;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.interactive-form label.hovertip p .wrapper {
	display: block;
	position: relative;
	width: 118px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	padding: 6px 0px 4px;
	border: 1px solid rgb(254, 252, 236);
	background: #fff6cb; /* Old browsers */
	background: -moz-linear-gradient(top, #fff6cb 0%, #ffef9e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff6cb), color-stop(100%, #ffef9e)); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, #fff6cb 0%, #ffef9e 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(top, #fff6cb 0%, #ffef9e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fff6cb 0%, #ffef9e 100%); /* IE10+ */
	background: linear-gradient(top, #fff6cb 0%, #ffef9e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6cb', endColorstr='#ffef9e', GradientType=0); /* IE6-9 */
}
.interactive-form label.hovertip p .wrapper span {
	line-height: 15px;
}
.interactive-form label.hovertip p .wrapper img {
	display: block;
	position: absolute;
	right: -12px;
	top: 10px;
}
.interactive-form label.hovertip:hover p {
	display: block;
}




.interactive-form #form .form-section {
	border-top: 1px solid #e0e0e0;
	clear: both;
	position: relative;
}
.interactive-form #form .form-section .form-input {
	width: 530px;
	border-right: 1px solid #e0e0e0;
	float: left;
}
.interactive-form #form .form-section .form-cost {
	position: absolute;
	right: 20px;
	top: 50px;
}
.interactive-form #form h3 {
	font-size: 14px;
	color: #262626;
	padding: 10px 23px 10px 23px;
	border-bottom: 1px solid #e0e0e0;
	font-weight: bold;
	background: #e6e6e6;
	margin-bottom: 8px;
	margin: 0px;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#e5e5e5'); /* for IE*/
	background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e5e5e5)); /* for webkit browsers*/
	background: -moz-linear-gradient(top,  #f7f7f7,  #e5e5e5); /* for firefox 3.6*/
	-moz-box-shadow: inset 0px 1px 0px #fff;
	-webkit-box-shadow: inset 0px 1px 0px #fff;
	box-shadow: inset 0px 1px 0px #fff;
	position: relative;
}
.interactive-form #form h3 span {
	font-weight: normal;
	color: #808080;
}

.order-button {
	display: block;
	margin: 20px 0px 10px;
	width: 200px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	padding: 0px;
	color: white;
	border-width: 0px;
	text-shadow: 0px -1px 0px rgb(79, 145, 234);
	background: rgb(144, 237, 254);
	background: -moz-linear-gradient(top, rgb(144, 237, 254) 0%, rgb(12, 122, 232) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(144, 237, 254)), color-stop(100%, rgb(12, 122, 232)));
	background: -webkit-linear-gradient(top, rgb(144, 237, 254) 0%, rgb(12, 122, 232) 100%);
	background: -o-linear-gradient(top, rgb(144, 237, 254) 0%, rgb(12, 122, 232) 100%);
	background: -ms-linear-gradient(top, rgb(144, 237, 254) 0%, rgb(12, 122, 232) 100%);
	background: linear-gradient(top, rgb(144, 237, 254) 0%, rgb(12, 122, 232) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(144, 237, 254)', endColorstr='rgb(12, 122, 232)', GradientType=0 );
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-khtml-border-radius: 12px;
	z-index: 10;
	cursor: hand;
	cursor: pointer;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
}
.order-button.vps {
	margin-top: 62px;
	margin-bottom: 30px;
}
.order-button.quote {
	position: absolute;
	top: 41px;
	right: 30px;
}
.order-button:hover {
	color: rgb(255, 255, 255);
}
.order-button span {
	font-weight: bold;
}


/* ---------------------------------------------
	FancyBoxes
------------------------------------------------ */
/* Width and height of the _whole_ image that is used for all 3 states */
span.fb_holder {
	width: 30px;
	height: 90px;
}

/* width and height is the widt of your FancyBox. With margin-right you can set the space between the label text and the box
 * with margin-top you can adjust the vertical position of your box */
span.fb_holderWrap {
	width: 30px;
	height: 30px;
	margin-right: 5px;
	margin-top: -2px;
}


/* specify your background-images */
label.fb_radio span.fb_holder {
	background-image: url('../images/order-form/radio.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

/* Space between two label-lines */
label.fb_box {
	margin-top: 5px;
}

/* hover-state */
label.fb_box.fb_hover span.fb_holder {
	top: -30px;
}
/* checked-state, if you use a bigger or smaller image you need to adjust the background-position accordingly */
label.fb_box.fb_checked span.fb_holder {
	top: -60px;
}

/* focus-state */
label.fb_focus {
	background-color: rgb(239, 239, 239);
}


/* ----- YOU DON'T NEED TO EDIT THE VALUES UNDERNEATH ----- */
label.fb_inline {
	float: left;
	margin: 0px 10px 0px 0px;
}
input.fb_hidden {
	position: absolute;
	left: -10000px;
}
label.fb_box span.fb_holder {
	display: block;
	position: absolute;
}
label.fb_box span.fb_holderWrap {
	display: block;
	float: left;
	position: relative;
	overflow: hidden;
}
label.fb_box span.fb_holder {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}