/* CSS Document */
body{font-size:13px;
border:0px;
margin:0;
margin-top:10px;
padding:0;
color:#444;
line-height:180%;
list-style:none;
text-decoration:none;
font-family:"ו",Arial, Helvetica, sans-serif;
}
div,ul,li{margin:0; padding:0; list-style:none;
border:0;
}
img{border:0;}
img a{border:0;}
a:link{font-size:13px; color:#444; text-decoration:none;}
a:visited{font-size:13px; color:#444; text-decoration:none;}
a:hover{font-size:13px; color:#810505; text-decoration:none;}
a:active{font-size:13px; color:#444; text-decoration:none;}

a.mores:link{font-size:13px; color:#004885; text-decoration:none;}
a.mores:visited{font-size:13px; color:#004885; text-decoration:none;}
a.mores:hover{font-size:13px; color:#810505; text-decoration:none;}
a.mores:active{font-size:13px; color:#004885; text-decoration:none;}

a.more:link{font-size:13px; color:#004885; text-decoration:none;}
a.more:visited{font-size:13px; color:#004885; text-decoration:none;}
a.more:hover{font-size:13px; color:#810505; text-decoration:none;}
a.more:active{font-size:13px; color:#004885; text-decoration:none;}

input{border:1px solid #ccc; font-size:12px; margin-top:4px; color:#AFAFAF}
.input1{border:0; vertical-align:middle; margin-bottom:5px;}
textarea{border:1px solid #AFAFAF; font-size:12px; color:#666; line-height:23px; background:url(images/logo-small.gif) no-repeat center center;}
select{border:1px solid #ccc; font-size:12px; margin-top:4px; color:#AFAFAF}

.top{padding-left:100px;}
h1{font-size:14px; margin:0; padding:10px 0 5px 0; display:block; color:#0D6EA0;}
.top_about{color:#B6B5B5;  letter-spacing:1px; width:380px; line-height:2;}
.margin{margin-bottom:8px;}
.nav{height:34px; line-height:34px; width:100%; background:url(images/nav_bg.gif) repeat-x;}
.nav li{width:117px; float:left; display:block;}
.nav li a:link,.nav li a:visited,.nav li a:active{background:url(images/link_nav.gif) no-repeat; display:block; font-size:14px; color:#003E66; text-align:center;}
.nav li a:hover{background:url(images/hover-nav.gif) no-repeat; font-size:14px; color:white; display:block; text-align:center;}

.cantent{margin-bottom:8px; padding:10px 0; border-top:1px dotted #ccc; border-bottom:1px dotted #ccc;}


.tjkc{border:1px solid #ccc; padding:2px; font-size:14px; font-weight:bold; color:#004C92;}
.class_1{height:60px; background:url(images/class_1.gif) no-repeat center center;  padding-left:70px; line-height:60px;}
.class_2{height:60px; background:url(images/class_2.gif) no-repeat center center;  padding-left:70px; line-height:60px;}
.class_3{height:60px; background:url(images/class_3.gif) no-repeat center center; padding-left:70px; line-height:60px;}
.border-right{padding-right:10px; border-right:1px dotted #ccc;}
.padding-left{padding-left:10px;}
.title{font-size:14px; font-weight:bold;}
.title-e{font-size:12px; color:#444; padding-left:10px;}
.more{padding-left:230px;}
.border-bottom{border-bottom:1px solid #ccc;}
.pad{padding:5px;}
.pad_left{padding:13px; line-height:190%;}

.search{margin-top:10px; background:#F3F3F3;}

.news_pic{margin:0; padding:0; float:left; width:355px; height:auto;}
.news_pic li{float:left; margin:0; padding:0;}
.news_pic .img1{padding:3px; border:1px solid #ccc; font-size:0; display:block; width:82px; height:65px; float:left;}
.news_pic .txt{ padding-left:5px; width:245px; height:auto; float:left;}

.news{width:335px; float:left; margin:0; padding:0;}
.news li{width:98%; height:28px; line-height:28px; margin-left:8px; border-bottom:1px dashed #ccc;}
.news .tit{width:250px; float:left;}
.news .date{width:75px; float:right;}

.news-two{width:630px; float:left; margin:0; padding:0;}
.news-two li{width:100%; height:28px; line-height:28px; margin-left:8px; border-bottom:1px dashed #ccc;}
.news-two .tit{width:490px; float:left; text-indent:15px;}
.news-two .date{width:80px; float:right;}

.news-two-tit{border:0; font-size:14px; color:#444; font-weight:bold; text-indent:10px;}

.foot{text-align:center; line-height:2;
}

.left{height:40px; line-height:40px;}
.left_tit{background:url(images/left-lm.gif) no-repeat; font-size:14px; color:#444; padding-left:25px; font-weight:bold;}
.left_bg{background:url(images/left_bg.gif) repeat-x;}


.server{width:160px; float:left; margin:0; padding:0;}
.server li{width:98%; height:35px; line-height:35px; margin-left:8px; border-bottom:1px dashed #ccc;}

.about{width:280px; float:left; margin:0; padding:0;}
.about li{width:98%; height:32px; line-height:32px; margin-left:8px; border-bottom:1px dashed #ccc; background:url(images/leftlist_ico.gif) no-repeat 10px center; text-indent:30px;}

h2{font-size:14px; margin:0; padding:0; color:#fff;}
h3{font-size:20px; margin:0; padding:0; height:40px; text-align:center; line-height:40px; width:97%; border-bottom:3px solid #ccc; margin-left:10px;}
.fengye{width:100%; text-align:center; margin:0; padding:0;}
.fengye li{margin:0; padding:0; padding:10px 0;}

.linput{height:15px;width:100px;border:1px #cccccc solid;}
