body  {font-family: "ו";font-size:9pt;}
A.qqa:link {COLOR: red; text-decoration: none}
A.qqa:visited {COLOR: red; text-decoration: none}
A.qqa:active {COLOR: red; text-decoration: none}
A.qqa:hover {COLOR: blue; text-decoration: none}

A.qqb:link {COLOR: black; text-decoration: none}
A.qqb:visited {COLOR: black; text-decoration: none}
A.qqb:active {COLOR: black; text-decoration: none}
A.qqb:hover {COLOR: blue; text-decoration: none}
