a {
    text-decoration: none;
}
a:link {
    color: #000000;
    text-decoration: none;
}
a:visited {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #ff6600;
    text-decoration: none;
}
a:active {
    color: #000000;
    text-decoration: none;
}
a.class:link {
    color: #ffffff;
}
a.class:visited {
    color: #ffffff;
}
a.class:hover {
    color: #ffff00;
}
a.class:active {
    color: #ffffff;
}
a.title:link {
    color: #ffffff;
}
a.title:visited {
    color: #ffffff;
}
a.title:hover {
    color: #449ae8;
}
a.title:active {
    color: #ffffff;
}
a.lefts:link {
    color: #ffffff;
}
a.lefts:visited {
    color: #ffffff;
}
a.lefts:hover {
    color: #449ae8;
}
a.lefts:active {
    color: #ffffff;
}
a.date:link {
    color: #000000;
}
a.date:visited {
    color: #000000;
}
a.date:hover {
    color: #ff6600;
}
a.date:active {
    color: #000000;
}
td {
    font-family: "宋体", arial, helvetica, sans-serif;
    font-size: 9pt;
    line-height: 150%;
}
input {
    font-size: 12px;
    height: 20px;
}
button {
    font-size: 9pt;
    height: 20px;
}
select {
    font-size: 9pt;
    height: 20px;
}
.title {
    background: #449ae8;
    color: #ffffff;
    font-weight: normal;
}
.border {
    border: 1px solid #449ae8;
}
.date_border {
    border: 1px solid;
}
.date_title {
    background: #449ae8;
    color: #ffffff;
    font-weight: normal;
}
.date_tdbg {
    background: #449ae8;
    color: #ffffff;
    font-weight: normal;
}
.style2 {
    font-size: 10px;
}
.style3 {
    font-size: 12px;
}
.tdtop {
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}
.tdinter {
    border-right: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    text-align: center;
}
.tdbg1 {
    background: #f0f8f0;
    line-height: 120%;
}
.title0 {
    background: #ebeadb;
    color: #000000;
    font-weight: normal;
}
.tdbg {
    background: #f0f0f0;
    line-height: 120%;
}
.tdbgmouseover {
    background: #bfdfff;
    line-height: 120%;
}
.tdbgmouseout1 {
    background: #ffffff;
    line-height: 120%;
}
.tdbgmouseout2 {
    background: #f3f3f3;
    line-height: 120%;
}
.tdbg2 {
    background: #e0eef5;
    line-height: 120%;
}
.tdbg5 {
    background: #e0eef5;
    line-height: 120%;
}
.title3 {
    width: 80px;
    background: url('images/titlebg4.gif');
    line-height: 120%;
    padding-top: 2px;
    cursor: hand;
}
.title4 {
    width: 80px;
    background: url('images/titlebg3.gif');
    color: #ffffff;
    font-weight: normal;
    padding-top: 2px;
    cursor: hand;
}
.title5 {
    width: 80px;
    background: url('images/titlebg2.gif');
    line-height: 120%;
    padding-top: 2px;
    cursor: hand;
}
.title6 {
    width: 80px;
    background: url('images/titlebg1.gif');
    color: #ffffff;
    font-weight: normal;
    padding-top: 2px;
    cursor: hand;
}
.topbg {
    background: #0650d2;
    color: #ffffff;
}
.topbg2 {
    background: #449ae8;
}
.bgcolor {
    background-color: #e1f4ee;
}
.bginput {
    background: url("images/txtrule.jpg");
    background-repeat: repeat-x;
    font-family: ms shell dlg, tahoma, sans-serif, 宋体;
    font-size: 12px;
    border: 1px solid #a7a6aa;
    height: 20px;
}
.show_page {
    text-align: center;
}
.romnumber {
    font-size: 9pt;
    overflow: hidden;
    background-color: highlight;
    border-right: 0px;
    text-align: right;
    font-weight: bold;
    color: highlighttext;
    cursor: default;
}
div#satitle2 {
    background-color: #b1c1d1;
    position: absolute;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}
div#satitle3 {
    background-color: #b1c1d1;
    position: absolute;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}
div#satitle4 {
    background-color: #b1c1d1;
    position: absolute;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}
div#skey {
    background-color: #b1c1d1;
    position: absolute;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}
div#sauthor {
    background-color: #b1c1d1;
    position: absolute;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}
div#scopyfrom {
    background-color: #b1c1d1;
    position: absolute;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}
.tableborder {
    border-right: #6595d6 1px solid;
    border-top: #6595d6 1px solid;
    border-left: #6595d6 1px solid;
    border-bottom: #6595d6 1px solid;
    background-color: #ffffff;
}
td.forumrow {
    background-color: #d5e9ff;
}
td.leftrow {
    background-color: #d5e9ff;
    text-align: left;
}
td.centerrow {
    background-color: #d5e9ff;
    text-align: center;
}
td.forumrowhighlight {
    background-color: #e6eff8;
}
input, textarea, button, select {
    font-size: 12px;
    font-family: "宋体", arial, helvetica, sans-serif;
    border-width: 1px;
}
th {
    font-weight: bold;
    font-size: 12px;
    background-image: url(admin_bg.gif);
    color: black;
    background-color: #4455aa;
}
.SortFolderOpen {
    background-image: url(Sort_Folder_Close.gif);
    background-repeat: no-repeat;
    height: 16px;
    left: 16px;
    padding-left: 16px;
    cursor: hand;
}
.SortFolderClose {
    background-image: url(Sort_Folder_Open.gif);
    background-repeat: no-repeat;
    height: 16px;
    left: 16px;
    padding-left: 16px;
    cursor: hand;
}
.SortEndFolderOpen {
    background-image: url(SortEnd_Folder_Close.gif);
    background-repeat: no-repeat;
    height: 16px;
    left: 16px;
    padding-left: 16px;
    cursor: hand;
}
.SortEndFolderClose {
    background-image: url(SortEnd_Folder_Open.gif);
    background-repeat: no-repeat;
    height: 16px;
    left: 16px;
    padding-left: 16px;
    cursor: hand;
}
.SortListline {
    padding-left: 16px;
    background-image: url(Sort_Listline.gif);
    background-repeat: repeat-y;
}
.SortEndListline {
    padding-left: 16px;
}
.SortFile {
    background-image: url(Sort_File.gif);
    background-repeat: no-repeat;
    height: 16px;
    cursor: hand;
    padding-left: 16px;
}
.SortFileEnd {
    background-image: url(Sort_File_End.gif);
    background-repeat: no-repeat;
    height: 16px;
    cursor: hand;
    padding-left: 16px;
}
body {
    font-family: "宋体", arial, helvetica, sans-serif;
    font-size: 9pt;
    text-decoration: none;
    line-height: 150%;
    background-color: #d4e4f6;
    scrollbar-face-color: #2b73f1;
    scrollbar-highlight-color: #0650d2;
    scrollbar-shadow-color: #449ae8;
    scrollbar-3dlight-color: #449ae8;
    scrollbar-arrow-color: #02338a;
    scrollbar-track-color: #0650d2;
    scrollbar-darkshadow-color: #0650d2;
    padding:0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.glow  {
    filter: glow(color=#0f42a6, strength=1);
    dropshadow(color=#0f42a6, offx=1, offy=1, );
    width: 100%;
    color: #ffffff;
    line-height: 20px
}
.txt_main {
    font-size: 9pt;
    scrollbar-face-color: #f6f6f6;
    scrollbar-highlight-color: #ffffff;
    scrollbar-shadow-color: #cccccc;
    scrollbar-3dlight-color: #cccccc;
    scrollbar-arrow-color: #330000;
    scrollbar-track-color: #f6f6f6;
    scrollbar-darkshadow-color: #ffffff;
}
div#satitle {
    background-color: #b1c1d1;
    position : absolute;
    z-index = 2;
    left = 285;
    top = 205;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}