input.sm { font-size : 9pt; font-family : "宋体"; color: #000000; ; font-style: 
normal; line-height: 12pt; font-weight: normal; font-variant: normal; text-decoration: 
none} body { font-size : 9pt; font-family : "宋体"; scrollbar-base-color : #000000; 
scrollbar-arrow-color : #000000; ; line-height: 12pt; font-weight: normal; font-variant: 
normal; color: #000000; text-decoration: none} table { font-size : 9pt; font-family 
: "宋体"; color: #000000; ; font-style: normal; line-height: 12pt; font-weight: 
normal; font-variant: normal} th { font-size : 9px; font-family : "宋体"; color: 
#000000 ; font-style: normal; line-height: 12pt; font-weight: normal; font-variant: 
normal} td { font-size : 9pt; font-family : "宋体"; color: #000000;; line-height: 
12pt; font-weight: normal; font-variant: normal} p { font-size : 9px; font-family 
: "宋体"; color: #000000; ; font-style: normal; line-height: 12pt; font-weight: 
normal; font-variant: normal } b { font-size : 9pt; font-family : "宋体"; ; font-style: 
normal; line-height: 12pt; font-weight: normal; font-variant: normal; color: #000000; 
text-decoration: none} a{ font-size : 9pt; color:#000033; text－decoration: none},a:visited 
{ font-size : 9pt; color: #000066; font-family : 宋体; text-decoration: none; } 
active {color:#ff0000;text－decoration: none; font-family: "宋体"; font-size: 9pt; 
font-style: normal; line-height: 12pt; font-weight: normal; font-variant: normal; 
text-decoration: underline} a:hover { font-size : 9pt; color: #ff0000; font-family 
:"宋体"; text-decoration: underline; ; line-height: 12pt} .formheader { color: #000000; 
font-family: "宋体"; font-size: 9pt; font-style: normal; font-weight: normal; ; 
line-height: 12pt}a { font-family: "宋体" ; font-style: normal; line-height: 12pt; 
font-weight: normal; text-decoration: none}a:link { font-family: "宋体" ; line-height: 
12pt}a:link { font-size : 9pt; color:#000099; text－decoration: none ; } 