#Guidebody {
    background: #a9c9ee;
    padding: 5px 0px 0px 0px;
    margin: 0px;
}
#Guide_back, #Guide_back ul, #Guide_back li {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
#Guide_back {
    background: url(Images/Guide_main.gif) #a9c9ee repeat-y left;
}
#Guide_top {
    height: 57px;
    background: url(Images/Guide_top.gif) #a9c9ee no-repeat left top;
}
#Guide_toptext {
    font-family: "ו";
    font-size: 12px;
    font-weight: bold;
    color: #28569b;
    padding-top: 25px;
    margin: 0px 0px 0px 60px;
}
#Guide_main {
    margin: 0px;
    padding: 0px;
}
#Guide_box {
    margin: 0px 0px 0px 10px;
    padding: 0px;
}
.guideexpand, .guidecollapse {
    height: 25px;
    line-height: 25px;
    padding-left: 30px;
    text-align: left;
    cursor: pointer;
    font-family: "ו";
    font-size: 12px;
    font-weight: bold;
    color: #08377c;
}
.guideexpand {
    background: url(Images/guide_expand.gif) no-repeat left center;
}
.guidecollapse {
    background: url(Images/guide_collapse.gif) no-repeat left center;
}
.guide, .guidesearch {
    background-color: #fff;
    margin-right: 15px;
}
.guide ul, .guide li {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    background-color: #fff;
}
.guidesearch {
    margin-top: 2px;
    line-height: 25px;
    text-align: center;
}
.guide li {
    background-color: #fff;
    line-height: 140%;
}
* html .guide li {
    height: 20px;
}
.guide a {
    display: block;
    text-align: left;
    padding: 3px 0px 3px 8px;
    text-decoration: none;
}
.guide a:link, .guide a:visited {
    color: #4579b9;
    border: 1px solid #fff;
}
.guide a:hover {
    color: #c00;
    border: 1px solid #e6eff8;
    background-color: #f2f8fd;
    text-decoration: none;
}
#Guide_bottom {
    height: 13px;
    background: url(Images/Guide_bottom.gif) #adcbef no-repeat left top;
}
.refresh {
    position: absolute;
    top: 29px;
    left: 160px;
    width: 15px;
    height: 15px;
    background: url(Images/refresh.gif) no-repeat center center;
    cursor: pointer;
}
.quickLink li {
    float: left;
    white-space: nowrap;
}
.floatingDialog {
    position: absolute;
    left: 200px;
    top: 100px;
    background-color: #f0f5FF;
    border: 1px solid #000;
    z-index: 50;
}
.floatingDialog_handle {
    background: url(Images/title.gif) #b0d0f3 repeat-x left top;
    line-height: 120%;
    color: #3666aa;
    padding: 2px;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    cursor: move;
}
.floatingDialog_content {
    padding: 5px;
    background: #D4E4F6;
}
.floatingDialogClose {
    float: right;
    text-decoration: none;
    color: #FFFFFF;
}
.floatingDialogFontSkin {
    cursor: pointer;
    color: red;
}
#AdminTabs {
    height: 24px;
    clear: both;
}
#AdminTabs, #AdminTabs ul, #AdminTabs li {
    margin: 0px;
    padding: 0px;
}
#AdminTabs li {
    cursor: pointer;
    margin-right: 2px;
    font-weight: bold;
}
#AdminTabs li, #AdminTabs a {
    float: left;
}
#AdminTabs a {
    background: url("Images/tableft.gif") no-repeat left top;
    margin: 0px;
    padding-left: 3px;
    text-decoration: none;
    font: normal normal normal 12px/24px Arial, "ו", Helvetica, sans-serif;
    display: block;
    text-align: center;
    min-width: 70px;
}
#AdminTabs a span {
    float: none;
    display: block;
    background: url("Images/tabright.gif") no-repeat right top;
    padding: 0px 8px 0px 5px;
    color: #000;
}
#AdminTabs a:hover, #AdminTabs #current a {
    background-position: 0% -24px;
}
#AdminTabs a:hover span, #AdminTabs #current a span {
    background-position: 100% -24px;
    color: #fff;
}