#Indexbody {
    background: url(Images/topbg.gif) #fff repeat-x left top;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
a:link, a:visited {
    font: 12px "ו";
    color: #1835d1;
    text-decoration: none;
}
a:active, a:hover {
    color: #f30;
    text-decoration: underline;
}
form, ul, li, dl, dt, dd {
    padding: 0px;
    margin: 0px;
}
ul {
    list-style-type: none;
}
#content {
    margin: 0px;
    text-align: left;
    background: url(Images/logo.gif) no-repeat left top;
    padding: 23px 0px 0px 0px;
}
#ChannelMenuItems, #ChannelMenuItems li, #ChannelMenuItems a, #ChannelMenuItems a span {
    height: 30px;
    overflow: hidden;
}
#ChannelMenuItems {
    margin: 0px 0px 0px 220px;
}
#ChannelMenuItems li {
    float: left;
    margin-right: 1px;
}
#ChannelMenuItems a {
    display: block;
    background: url(Images/none_left.gif) #ffefbd no-repeat left top;
    float: left;
    line-height: 20px;
    text-decoration: none;
}
#ChannelMenuItems a span {
    padding: 7px 13px 0px 13px;
    display: block;
    background: url(Images/none_side.gif) no-repeat right top;
    float: left;
    cursor: pointer;
    text-align: center;
}
#ChannelMenuItems li a {
    background: url(Images/digital_left.gif) #2e7bcb no-repeat left top;
}
#ChannelMenuItems li a span {
    background: url(Images/digital_side.gif) no-repeat right top;
    font-weight: bold;
}
.digitaltext, #ChannelMenuItems li a {
    color: #2867b1;
}
.segtext {
    color: #fff;
}
#ChannelMenuItems li a span#SpanChannelMenu_MenuMyDeskTop {
    padding: 7px 0px 0px 13px;
    background: url(Images/digital_side.gif) no-repeat right top;
    background: none;
    font-weight: bold;
}
#ChannelMenuItems li a span#MenuMyDeskTopMore_Triangle {
    padding: 13px 13px 0px 5px;
    display: block;
    background: url(Images/digital_side.gif) no-repeat right top;
}
#PE_TopQiuck {
    margin: 0 auto;
    width: 170px;
    color: #0065b1;
}
#PE_TopQiuck dl {
    display: block;
    background: url(images/TopQuick03.gif) left 1px repeat-x;
    border: 1px solid #8da8d0;
    height: auto !important;
    height: 250px;
    min-height: 250px;
}
#PE_TopQiuck .Border {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
#PE_TopQiuck .Title {
    padding: 5px 0 0 12px;
    background: url(images/TopQuick04.gif) center bottom no-repeat;
    height: 26px;
    line-height: 26px;
    font-weight: bold;
}
#PE_TopQiuck .List {
    padding: 5px 8px 10px;
}
#PE_TopQiuck .List li {
    display: block;
    height: 22px;
    line-height: 22px;
}
#PE_TopQiuck .List a {
    display: block;
    height: 22px;
    line-height: 22px;
    padding-left: 8px;
    color: #4579b9;
    text-decoration: none;
}
#PE_TopQiuck .List a:hover {
    background: #f2f8fd;
    border: 1px solid #e6eff8;
    height: 20px;
    line-height: 20px;
    color: #c00;
}
#SubMenu {
    color: #fff;
    text-align: left;
    height: 25px;
    line-height: 25px;
    margin-left: 225px;
}
#SubMenu li {
    float: left;
    line-height: 25px;
    background: url(Images/chanli.gif) no-repeat left center;
    padding-left: 8px;
    padding-right: 8px;
}
#SubMenu li a {
    color: #fff;
    display: block;
    line-height: 25px;
}
.SubMenuDiv {
    z-index: 2;
    visibility: hidden;
    float: left;
    position: absolute;
    border: 1px solid #9fbdd7;
    text-align: left;
}
.SubMenuDiv dl, .SubMenuDiv dd {
    margin: 0px;
    text-align: left;
}
.SubMenuDiv dd {
    width: 130px;
    padding: 0px 1px 0px 1px;
}
.SubMenuDiv dl {
    padding: 1px 0px 1px 0px;
    background: url(Images/SubMenuDivbg.gif) #d6e7f7 repeat-y left top;
}
#SubMenu dd a, #SubMenu dd a:hover {
    padding-left: 20px;
}
#SubMenu dd a {
    color: #446592;
}
#SubMenu dd a:hover {
    color: #003685;
    background: #e4f1fc;
    text-decoration: underline;
}
.clearbox2 {
    border-top: 1px solid transparent !important;
    margin-top: -1px !important;
    border-top: 0;
    margin-top: 0;
    clear: both;
    visibility: hidden;
    width: 700px;
    overflow: hidden;
    font-size: 0px;
    background: none;
    height: 0px;
}
#Announce {
    position: absolute;
    top: 10px;
    right: 5px;
    color: #2b6ab3;
}
#Announce a {
    font: 12px "ו";
    text-decoration: none;
}
#Announce a:link, #Announce a:visited {
    color: #2b6ab3;
}
#Announce a:active, #Announce a:hover {
    color: #c00;
}
.but {
    cursor: pointer;
}
.popupTips {
    position: absolute;
    display: none;
    right: 20px;
    bottom: 0px;
    width: 247px;
    background: url(Images/bg_tipsAll.gif) left repeat-y;
    z-index: 999;
}
.popupTips dt {
    height: 29px;
    line-height: 27px;
    padding-left: 18px;
    color: #3666aa;
    font-weight: bolder;
    background: url(Images/bg_tipsTop.gif) left top no-repeat;
}
.popupTips dt a {
    display: block;
    float: right;
    width: 20px;
    height: 27px;
    line-height: 27px;
    cursor: pointer;
}
.tips_close {
    background: url(Images/bt_close.gif) left 10px no-repeat;
}
.tips_fold {
    background: url(Images/bt_fold.gif) left 11px no-repeat;
}
.popupTips dd {
    height: auto !important;
    height: 100px;
    min-height: 100px;
    padding: 8px 5px 20px 25px;
    background: url(Images/bg_tipsBottom.gif) left bottom no-repeat;
}
.popupTips dd a, .popupTips dd a:visited {
    color: #3666aa;
    line-height: 17px;
}
.popupTips dd a:hover {
    color: #2e82f9;
}
.HelpTips {
    position: absolute;
    display: none;
    right: 300px;
    top: 100px;
    width: 500px;
    z-index: 10001;
    background-color: #E1E3E5;
}
.HelpTitle {
    height: 29px;
    line-height: 27px;
    padding-left: 18px;
    color: #3666aa;
    cursor: move;
    font-weight: bolder;
    float: left;
    width: 482 !important;
    width: 500px;
    background-image: url(Images/help_tips.gif);
    background-repeat: repeat-x;
    background-position: left top;
}
.HelpTitle a {
    display: block;
    float: right;
    width: 20px;
    height: 27px;
    line-height: 27px;
    cursor: pointer;
}
.tips_close {
    background: url(Images/bt_close.gif) left 10px no-repeat;
    float: right;
    height: 7px;
    width: 8px;
}
.HelpInfo {
    height: 222px !important;
    height: 250px;
    float: left;
    width: 500px;
    width: 470px !important;
    padding-top: 8px;
    padding-right: 5px;
    padding-bottom: 20px;
    padding-left: 25px;
    background-color: #E1E3E5;
}
.HelpInfo a, .popupTips dd a:visited {
    color: #3666aa;
    line-height: 17px;
}
.HelpInfo a:hover {
    color: #2e82f9;
}
.HelpInfo ul {
    list-style-type: square;
}
.HelpTipsb {
    float: left;
    height: 25px;
    width: 500px;
    background-color: #E1E3E5;
}
#quicknavigation, #ShowQuickNavigation {
    position: absolute;
    top: 0px;
    left: 0px;
}
#quicknavigation {
    margin: 0 auto;
    width: 170px;
    color: #0065b1;
    background: #ffffff;
}
#quicknavigation .Topdl {
    margin-top: -6px;
}
#quicknavigation .Top {
    background: url(images/TopQuick02.gif) left bottom no-repeat;
    height: 7px;
    font-size: 0;
}
#quicknavigation .Content {
    background: #ffffff url(images/TopQuick03.gif) left 1px repeat-x;
    border: 1px solid #8da8d0;
}
#quicknavigation .Border {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    background: transparent;
}
#quicknavigation .Title {
    padding: 5px 0 0 12px;
    background: url(images/TopQuick04.gif) center bottom no-repeat;
    height: 26px;
    line-height: 26px;
    font-weight: bold;
    border: none;
}
#quicknavigation .Title .UpDown {
    float: right;
    display: none;
    padding: 0 10px 0 0;
    height: 22px;
    width: 11px;
}
#quicknavigation .Title .UpDown li {
    display: block;
    height: 11px;
    font-size: 0;
    overflow: hidden;
}
#quicknavigation .Title .UpDown li a {
    display: block;
    background: url(images/TopQuick02.gif) 0 0 no-repeat;
    width: 11px;
    height: 9px;
}
#quicknavigation .Title .UpDown li a.dn, #quicknavigation .Title .UpDown li a.dn_out {
    background-position: left -11px;
}
#quicknavigation .Title .UpDown li a.up_hover {
    background-position: left -22px;
}
#quicknavigation .Title .UpDown li a.dn_hover {
    background-position: left -33px;
}
#quicknavigation .List {
    padding: 5px 8px 10px;
    border: none;
}
#quicknavigation .List li {
    display: block;
    height: 22px;
    line-height: 22px;
}
#quicknavigation .List a {
    display: block;
    height: 22px;
    line-height: 22px;
    padding-left: 8px;
    color: #4579b9;
    text-decoration: none;
}
#quicknavigation .List a:hover {
    background: #f2f8fd;
    border: 1px solid #e6eff8;
    height: 20px;
    line-height: 20px;
    color: #c00;
}
#FrameTabs {
    background: url(images/tab-strip-bg.gif) top repeat-x #D4E4F6;
    padding: 2px 0 1px;
    height: 25px;
*height:28px!important;
    position:relative;
}
#FrameTabs ul {
    display: block;
    height: 24px;
    padding: 0 4px;
}
ul.tab-strip {
    display: block;
    zoom: 1;
}
ul.tab-strip-top {
}
.tab-left {
    background: transparent url(images/scroll-left.gif) no-repeat -18px 0;
    width: 18px;
    height: 23px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    cursor: pointer;
    display: none;
}
.tab-left-over {
    background-position: 0 0;
}
.tab-disabled {
    background-position: -36px 0;
    cursor: default;
}
.tab-right {
    float: right;
    background: transparent url(images/scroll-right.gif) no-repeat 0 0;
    width: 18px;
    height: 23px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    cursor: pointer;
    display: none;
}
.tab-right-over {
    background-position: -18px 0;
}
.tab-strip-wrap {
    width: 100%;
    overflow: hidden;
    position: relative;
    zoom: 1;
}
.tab-strip-margin {
    margin-left: 18px;
    margin-right: 18px;
}
#FrameTabs li {
    float: left;
    background: url(images/tabs-sprite.gif) left -201px repeat-x;
    height: 21px;
    line-height: 21px;
    margin-right: 2px;
}
#FrameTabs li a {
    display: block;
    float: left;
    background: url(images/tabs-sprite.gif) left -51px no-repeat;
    height: 21px;
    line-height: 21px;
    color: #416aa3;
    font-size: 12px;
    text-decoration: none;
    padding-left: 8px;
}
#FrameTabs li a.closeTab {
    background: url(images/tabs-sprite.gif) right -351px no-repeat;
    padding: 4px 6px 6px 5px;
    height: 11px;
    cursor: pointer;
}
#FrameTabs li.FrameTabs_hover {
    background-position: left -251px;
}
#FrameTabs li.FrameTabs_hover a {
    background-position: left -101px;
}
#FrameTabs li.FrameTabs_hover a.closeTab {
    background-position: right -401px;
}
#FrameTabs li.current {
    background-position: left -151px;
    height: 24px;
    line-height: 24px;
}
#FrameTabs li.current a {
    background-position: left 0px;
    font-weight: bold;
}
#FrameTabs li.current a.closeTab {
    background-position: right -301px;
}
#FrameTabs li#newFrameTab {
    background: none;
    padding-top: 4px;
    height: 15px;
    padding-left: 2px;
}
#FrameTabs li#newFrameTab a {
    background: url(images/FrameTabs_Add.gif) left top no-repeat;
    width: 15px;
    height: 15px;
}
#FrameTabs li#newFrameTab a:hover {
    background-position: 0 -15px;
}
.contextMenuEleOn {
    background-color: #BFDFFF;
}
#MasterPagebody .operatingMenu {
    border: 1px solid #868686;
    width: 150px;
    margin: 0 auto;
    background: url(images/Controls.con-bg.gif) left repeat-y #fafafa;
    padding: 2px 0;
}
#MasterPagebody .operatingMenu img {
    border: none;
}
#MasterPagebody .operatingMenu li {
    height: 25px;
    line-height: 25px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#MasterPagebody .operatingMenu li ul {
    display: block;
}
#MasterPagebody .operatingMenu li ul li {
    height: 25px;
    line-height: 25px;
}
#MasterPagebody .operatingMenu li span {
    float: left;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
}
#MasterPagebody .operatingMenu li span.Picview {
    width: 26px;
    padding: 2px 0 0 3px;
    height: 22px;
    padding-right: 5px;
}
#MasterPagebody .operatingMenu li span.Right-side {
    float: right;
    width: 4px;
    height: 7px;
    padding: 9px 8px 9px 0;
    overflow: hidden;
}
#MasterPagebody .operatingMenu li.menuitemhover {
    background: url(images/Controls.List-on.left.gif) 0 0 no-repeat;
}
#MasterPagebody .operatingMenu li ul li a {
    display: block;
    line-height: 25px;
    font-size: 12px;
    text-decoration: none;
    background: none;
}
#MasterPagebody .operatingMenu li.separator {
    background: url(images/Controls.separator.gif) left top no-repeat;
    height: 2px;
    font-size: 0;
    overflow: hidden;
    clear: both;
    line-height: 0;
}
#prompt-note {
    border: 1px solid #6493c8;
    margin-top: 10px;
    background: #fff;
}
#prompt-note dl {
    display: block;
    height: auto !important;
    min-height: 100px;
    height: 100px;
    padding: 1px;
}
#prompt-note dt.prompt-note-tit {
    background: url(images/prompt-note-tit-bg.gif) top repeat-x;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    overflow: hidden;
}
#prompt-note dt.prompt-note-tit span {
    display: block;
    float: left;
    background: url(images/prompt-note-ico.gif) 10px 8px no-repeat;
    padding: 0 80px 0 28px;
    font-weight: bold;
    color: #3666aa;
}
#prompt-note dt.prompt-note-tit a {
    display: block;
    float: left;
    padding: 6px 15px 0;
    height: 20px;
    line-height: 20px;
    background: url(images/prompt-note-off.gif) left bottom no-repeat;
    text-align: center;
    color: #999;
    cursor: pointer;
    text-decoration: none;
}
#prompt-note dt.prompt-note-tit a.on {
    background: url(images/prompt-note-on.gif) left bottom no-repeat;
    color: #000;
}
#prompt-note dt.prompt-note-tit span.right-line {
    background: #d0d0d0;
    width: 1px;
    padding: 0;
    margin-top: 4px;
    border-top: 1px solid #fff;
    height: 21px;
}
#prompt-note dd.prompt-note-con {
    padding: 10px;
    font-size: 12px;
    line-height: 22px;
}
#prompt-note dd.prompt-note-con p {
    line-height: 22px;
}
#prompt-note dd.prompt-note-con li {
    line-height: 22px;
    list-style-position: outside;
    list-style-type: disc;
    margin-left: 25px;
}